@import url(https://fonts.googleapis.com/css?family=Lobster+Two);

// Base styles

h1,h2,h3,h4,h5,h6 {
	font-family: 'Lobster Two', cursive;
}

// Header

.header {
	border-top:5px solid #3185cb;
	.contain-to-grid {
		background: #8fc0ea;
		padding:25px 0;
		.top-bar {
			background: #8fc0ea;			
		}
	}
}

// Top popular post

#top-post-wrap {
	background: #fcf5d5;
	border-top: 7px solid #f4ebc0;
	border-bottom: 7px solid #f4ebc0;
	padding:15px 0;
	margin-bottom: 15px;
	#top-post {
		.top-blog-post {
			padding:20px;			
		}
		.top-blog-post:first-of-type {
			border-right:1px solid #f4ebc0;
		}
		.top-blog-post:last-of-type {
			border-left:1px solid #f4ebc0;
		}		
	}
}

// Sidebars
#sidebar1 {
	#search-4 {
		margin: 0;
		padding: 0;
		.screen-reader-text {
			opacity: 0;
		}
		input[type="submit"] {
			width: 100%;
			padding: 10px;
			background-color: #3185cb;
			border-radius: 9px;
	    }		
	}
    #categories-2 {
		padding:0;
		margin: 0;
		.widgettitle {
			background-color: #3185cb;
			margin-bottom: -10px;
			margin-top: 0;
			text-align: center;
			padding: 5px 0 15px;
			color: #fff !important;
			position: relative;
			z-index: 1;
			-webkit-border-top-left-radius: 9px;
			-webkit-border-top-right-radius: 9px;
			-moz-border-radius-topleft: 9px;
			-moz-border-radius-topright: 9px;
			border-top-left-radius: 9px;
			border-top-right-radius: 9px;
		}
		.widgettitle:before{
		    content: "";
		    position: absolute;
		    top: calc(50% - 19px);
		    left: 3px;
		    background: url("../images/flower.png") no-repeat 0px 0px transparent;
		    width: 33px;
		    height: 33px;
		    display: inline-block;
		}		
		.widgettitle:after{
		    content: "";
		    position: absolute;
		    top: calc(50% - 19px);
			left: auto;
			right: 2px;
		    background: url("../images/flower.png") no-repeat 0px 0px transparent;
		    width: 33px;
		    height: 33px;
		    display: inline-block;
		}				
		ul {
			border: 5px solid #fcf5d5;
			border-radius: 9px;
			padding: 5px;
			padding: 5px 0 5px 15px;
			overflow: hidden;
			position: relative;
			width: 100%;
			z-index: 2;
			background: #fff;
			box-sizing: border-box;
			-webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
			-webkit-transform: rotate(0.000001deg);	
			li {
				margin-right: 10px;
				border-bottom: 1px solid #fee6b4;
				padding: 5px 2.14em 5px 0;
				color:#FF7892;
				a {
					color: #3185cb;
				}
			}
			li:last-of-type {
				border-bottom: 0px solid #fee6b4;				
			}		
		}
	}	
}

// Page top

#top-page {
	padding: 15px 0;
	background: #8fc0ea;
	border-top:5px solid #3185cb;
}

// Homepage

.home {
	.post {
		.post-icon {
			i {
				width: 75px;
				height: 75px;
				display: block;
				background-size: 85%;
				background-repeat: no-repeat;
				margin-left: 18px;
			}
			span {
				font-size: 0.65rem;
				text-align: center;
				width: 100%;
				display: block;
			}
		}
		.post-text {
			padding-bottom:25px;
			border-bottom: 1px solid #fee6b4;
			margin-bottom:25px;
			p {
				font-size:1.2rem;				
			}
			#s-share-buttons {
				float:left;
			}
			.mail {
				background: url(/wp-content/plugins/simple-social-share/images/share-email.png);
				width: 65px;
				float:left;
				display: block;
				background-repeat: no-repeat;
				color: rgba(255, 255, 255, 0);
			}
			.tweet {
				background: url(../images/tweet.png) 0px -4px;				
				width: 65px;
				float:left;
				display: block;
				background-repeat: no-repeat;
				color: rgba(255, 255, 255, 0);				
			}
		}
	}
}

.bathing {
	i {
		background:url(../images/baby-icons/Bathtub.png);
	}
	span {
		color: #44BFD7;
	}
}

.crying-calming {
	i {
		background:url(../images/baby-icons/Pacifier.png);
	}
	span {
		color: #4FBE80;		
	}	
}

.cleaning {
	i {
		background:url(../images/baby-icons/Cleaning.png);
	}
	span {
		color: #44BFD7;		
	}	
}

.clothing {
	i {
		background:url(../images/baby-icons/Sleepsuit.png);
	}
	span {
		color: #F8C063;		
	}
}

.diapers {
	i {
		background:url(../images/baby-icons/Diaper.png);
	}
	span {
		color: #F8C063;		
	}		
}

.feeding {
	i {
		background:url(../images/baby-icons/Cutlery.png);
	}	
	span {
		color: #F8C063;		
	}	
}

.mommy-health {
	i {
		background:url(../images/baby-icons/Butterfly.png);
	}	
	span {
		color: #F8C063;		
	}	
}

.nursing {
	i {
		background:url(../images/baby-icons/Nursing.png);
	}	
	span {
		color: #FF7892;			
	}	
}

.sleeping {
	i {
		background:url(../images/baby-icons/Sleep.png);		
	}
	span {
		color: #D29CCC;		
	}	
}

.teething {
	i {
		background:url(../images/baby-icons/Teething.png);		
	}
	span {
		color: #FF7892;		
	}	
}

.transportation {
	i {
		background:url(../images/baby-icons/Stroller.png);		
	}
	span {
		color: #F8C063;		
	}	
}

// Footer

#above-footer {
	background: #8fc0ea;
    border-bottom: 5px solid #6c9dc7;
}

.footer {
	background: #3185cb;
	padding-top: 20px;
	color: rgba(255,255,255,0.5);
	margin: 0;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

	

}