@font-face {
  font-family: 'grand_hotelregular';
  src: url('../fonts/grandhotel-regular-webfont.eot');
  src: url('../fonts/grandhotel-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/grandhotel-regular-webfont.woff2') format('woff2'), url('../fonts/grandhotel-regular-webfont.woff') format('woff'), url('../fonts/grandhotel-regular-webfont.ttf') format('truetype'), url('../fonts/grandhotel-regular-webfont.svg#grand_hotelregular') format('svg');
  font-weight: normal;
  font-style: normal; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'grand_hotelregular'; }

.page-title {
  position: relative;
  text-align: center;
  color: #3185cb; }

.top-bar-section ul li {
  background: none !important; }
  .top-bar-section ul li a {
    background: none !important;
    font-size: 23px;
    cursor: pointer;
    color: #fff;
    transition: 0.3s all; }
    .top-bar-section ul li a:hover {
      color: #3185cb;
      border-bottom: 1px dotted #3185cb; }

.top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
  display: none; }

.header .tab-bar {
  background: #3185cb; }
  .header .tab-bar .left-small {
    border-right: solid 1px #fff; }
  .header .tab-bar h1 {
    color: #fff; }
.header .social-wrap {
  background: #3185cb; }
  .header .social-wrap .facebook {
    background-position: 0px 0px; }
  .header .social-wrap .twitter {
    background-position: -30px 0px; }
  .header .social-wrap .pinterest {
    background-position: -90px 0px; }
  .header .social-wrap .feed {
    background-position: -60px 0px; }
  .header .social-wrap a {
    display: block;
    height: 30px;
    width: 30px;
    float: right;
    background-image: url(../images/social.png);
    background-size: 120px;
    background-repeat: no-repeat;
    text-indent: -9999px;
    color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: 0.2s all; }
    .header .social-wrap a:hover {
      opacity: 0.7; }
.header .contain-to-grid {
  background: #8fc0ea url(../images/clouds.png) center no-repeat;
  padding: 40px 0; }
  .header .contain-to-grid .top-bar {
    background: #8fc0ea; }
.header .title-area li a {
  background: url("../images/logo.png") no-repeat 0px 0px transparent;
  background-size: 100%;
  padding: 27px 100px;
  margin-top: -37px;
  position: relative;
  color: rgba(255, 255, 255, 0); }

#top-post-wrap {
  background: #fcf5d5;
  border-top: 7px solid #f4ebc0;
  border-bottom: 7px solid #f4ebc0; }
  #top-post-wrap .top-post-text {
    padding: 0; }
    #top-post-wrap .top-post-text p {
      font-size: 14px;
      margin: 0;
      line-height: 21px; }
  #top-post-wrap #top-post .top-blog-post {
    padding: 20px 12px;
    height: 135px;
    display: block;
    transition: 0.3s all;
    cursor: pointer; }
    #top-post-wrap #top-post .top-blog-post:hover {
      background: #f4ebc0; }
    #top-post-wrap #top-post .top-blog-post .post-icon {
      padding: 0; }
      #top-post-wrap #top-post .top-blog-post .post-icon i {
        background-position: left top;
        background-size: 90%;
        background-repeat: no-repeat;
        height: 62px;
        width: 52px;
        display: block;
        margin: 0;
        padding: 0; }
    #top-post-wrap #top-post .top-blog-post .excerpt-read-more {
      display: none; }
    #top-post-wrap #top-post .top-blog-post #s-share-buttons {
      float: left; }
    #top-post-wrap #top-post .top-blog-post .mail {
      background: url(/wp-content/plugins/simple-social-share/images/share-email.png);
      width: 65px;
      float: left;
      display: block;
      background-repeat: no-repeat;
      color: rgba(255, 255, 255, 0); }
    #top-post-wrap #top-post .top-blog-post .tweet {
      background: url(../images/tweet.png) 0px -4px;
      width: 65px;
      float: left;
      display: block;
      background-repeat: no-repeat;
      color: rgba(255, 255, 255, 0); }
    #top-post-wrap #top-post .top-blog-post .url span {
      font-size: 10px;
      background: url(../images/url.png) 0px 0px no-repeat;
      color: #3185cb;
      margin-left: 5px;
      float: left;
      height: 24px;
      width: 24px;
      display: block; }
  #top-post-wrap #top-post .top-blog-post:first-of-type {
    border-right: 2px solid #f4ebc0; }
  #top-post-wrap #top-post .top-blog-post:nth-of-type(2) {
    border-right: 2px solid #f4ebc0; }
  #top-post-wrap #top-post .top-blog-post:last-of-type {
    border-left: 2px solid #f4ebc0; }
  #top-post-wrap #top-post h2 {
    position: relative;
    text-align: center;
    color: #3185cb; }
    #top-post-wrap #top-post h2 span {
      background: #fcf5d5;
      padding: 0 15px;
      position: relative;
      z-index: 1; }
  #top-post-wrap #top-post h2:before {
    background: #f4ebc0;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    top: 50%;
    width: 100%; }
  #top-post-wrap #top-post h2:before {
    left: 0; }

#sidebar1 {
  padding-top: 21px; }
  #sidebar1 #search-4 {
    margin: 0;
    padding: 0; }
    #sidebar1 #search-4 .screen-reader-text {
      opacity: 0; }
    #sidebar1 #search-4 input[type="submit"] {
      width: 100%;
      padding: 10px;
      background-color: #3185cb;
      border-radius: 9px; }
  #sidebar1 #categories-2 {
    padding: 0;
    margin: 0; }
    #sidebar1 #categories-2 .widgettitle {
      background-color: #3185cb;
      margin-bottom: -10px;
      margin-top: 0;
      text-align: center;
      padding: 5px 0 15px;
      color: #fff !important;
      position: relative;
      z-index: 1;
      -webkit-border-top-left-radius: 9px;
      -webkit-border-top-right-radius: 9px;
      -moz-border-radius-topleft: 9px;
      -moz-border-radius-topright: 9px;
      border-top-left-radius: 9px;
      border-top-right-radius: 9px; }
    #sidebar1 #categories-2 .widgettitle:before {
      content: "";
      position: absolute;
      top: calc(50% - 19px);
      left: 3px;
      background: url("../images/flower.png") no-repeat 0px 0px transparent;
      width: 33px;
      height: 33px;
      display: inline-block; }
    #sidebar1 #categories-2 .widgettitle:after {
      content: "";
      position: absolute;
      top: calc(50% - 19px);
      left: auto;
      right: 2px;
      background: url("../images/flower.png") no-repeat 0px 0px transparent;
      width: 33px;
      height: 33px;
      display: inline-block; }
    #sidebar1 #categories-2 ul {
      border: 5px solid #fcf5d5;
      border-radius: 9px;
      padding: 5px;
      padding: 5px 0 5px 15px;
      overflow: hidden;
      position: relative;
      width: 100%;
      z-index: 2;
      background: #fff;
      box-sizing: border-box;
      -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
      -webkit-transform: rotate(0deg); }
      #sidebar1 #categories-2 ul li {
        margin-right: 10px;
        border-bottom: 1px solid #fee6b4;
        padding: 5px 0;
        color: #FF7892;
        float: left;
        width: 94%; }
        #sidebar1 #categories-2 ul li a {
          color: #3185cb;
          display: block;
          width: 100%;
          transition: 0.3s all; }
          #sidebar1 #categories-2 ul li a:hover {
            color: #44BFD7;
            padding-left: 2px; }
      #sidebar1 #categories-2 ul li:last-of-type {
        border-bottom: 0px solid #fee6b4; }

.left-off-canvas-menu {
  background: #8fc0ea; }
  .left-off-canvas-menu #sidebar-offcanvas {
    padding-top: 15px; }
    .left-off-canvas-menu #sidebar-offcanvas h4 {
      font-size: 35px; }
    .left-off-canvas-menu #sidebar-offcanvas .screen-reader-text {
      display: none; }
    .left-off-canvas-menu #sidebar-offcanvas .search-field {
      width: 88%; }
    .left-off-canvas-menu #sidebar-offcanvas .search-submit {
      width: 80%;
      padding: 10px;
      background-color: #3185cb;
      border-radius: 9px; }
    .left-off-canvas-menu #sidebar-offcanvas a {
      color: #3185CB; }

#top-page {
  padding: 15px 0;
  background: #8fc0ea;
  border-top: 5px solid #3185cb; }

.home h1, .search h1, .archive h1, .page-template-popular h1 {
  color: #3185cb; }
.home .filter, .search .filter, .archive .filter, .page-template-popular .filter {
  margin-top: 21px;
  background-color: #F4F4F4;
  padding: 8px;
  margin-bottom: 35px; }
  .home .filter .filter-wrap, .search .filter .filter-wrap, .archive .filter .filter-wrap, .page-template-popular .filter .filter-wrap {
    float: right; }
  .home .filter dd.active a, .search .filter dd.active a, .archive .filter dd.active a, .page-template-popular .filter dd.active a {
    background: #3185cb; }
.home .post .post-icon i, .search .post .post-icon i, .archive .post .post-icon i, .page-template-popular .post .post-icon i {
  width: 75px;
  height: 75px;
  display: block;
  background-size: 85%;
  background-repeat: no-repeat;
  margin-left: 18px; }
.home .post .post-icon .icon-text, .search .post .post-icon .icon-text, .archive .post .post-icon .icon-text, .page-template-popular .post .post-icon .icon-text {
  font-size: 0.65rem;
  text-align: center;
  width: 100%;
  display: block; }
.home .post .post-icon .hack-num, .search .post .post-icon .hack-num, .archive .post .post-icon .hack-num, .page-template-popular .post .post-icon .hack-num {
  text-align: center;
  font-size: 13px;
  padding-top: 10px; }
.home .post .submitted-wrap, .search .post .submitted-wrap, .archive .post .submitted-wrap, .page-template-popular .post .submitted-wrap {
  float: left;
  width: 100%;
  font-size: 13px;
  color: #3185cb;
  margin-bottom: 10px; }
  .home .post .submitted-wrap .submitted-by, .search .post .submitted-wrap .submitted-by, .archive .post .submitted-wrap .submitted-by, .page-template-popular .post .submitted-wrap .submitted-by {
    float: left; }
.home .post .post-text, .search .post .post-text, .archive .post .post-text, .page-template-popular .post .post-text {
  padding-bottom: 55px;
  border-bottom: 1px solid #fee6b4;
  margin-bottom: 25px; }
  .home .post .post-text p, .search .post .post-text p, .archive .post .post-text p, .page-template-popular .post .post-text p {
    font-size: 1.2rem;
    margin: 0 0 10px 0;
    cursor: pointer;
    transition: 0.2s all; }
    .home .post .post-text p:hover, .search .post .post-text p:hover, .archive .post .post-text p:hover, .page-template-popular .post .post-text p:hover {
      text-decoration: underline; }
  .home .post .post-text #s-share-buttons, .search .post .post-text #s-share-buttons, .archive .post .post-text #s-share-buttons, .page-template-popular .post .post-text #s-share-buttons {
    float: left; }
  .home .post .post-text .mail, .search .post .post-text .mail, .archive .post .post-text .mail, .page-template-popular .post .post-text .mail {
    background: url(/wp-content/plugins/simple-social-share/images/share-email.png);
    width: 65px;
    float: left;
    display: block;
    background-repeat: no-repeat;
    color: rgba(255, 255, 255, 0); }
  .home .post .post-text .tweet, .search .post .post-text .tweet, .archive .post .post-text .tweet, .page-template-popular .post .post-text .tweet {
    background: url(../images/tweet.png) 0px -4px;
    width: 65px;
    float: left;
    display: block;
    background-repeat: no-repeat;
    color: rgba(255, 255, 255, 0); }
  .home .post .post-text .url span, .search .post .post-text .url span, .archive .post .post-text .url span, .page-template-popular .post .post-text .url span {
    font-size: 10px;
    background: url(../images/url.png) 0px 0px no-repeat;
    color: #3185cb;
    margin-left: 5px;
    float: left;
    height: 24px;
    width: 24px;
    display: block; }
  .home .post .post-text .comments, .search .post .post-text .comments, .archive .post .post-text .comments, .page-template-popular .post .post-text .comments {
    font-size: 13px;
    float: left;
    margin-left: 5px;
    margin-top: 2px;
    color: #3185cb; }
  .home .post .post-text .hack-image-link, .search .post .post-text .hack-image-link, .archive .post .post-text .hack-image-link, .page-template-popular .post .post-text .hack-image-link {
    padding-top: 10px;
    float: left; }

.search .post-icon i, .archive .post-icon i {
  margin-left: 12px !important; }

.bathing i {
  background: url(../images/baby-icons/Bathtub.png); }
.bathing .icon-text, .bathing .hack-num {
  color: #44BFD7; }

.crying-calming i {
  background: url(../images/baby-icons/Pacifier.png); }
.crying-calming .icon-text, .crying-calming .hack-num {
  color: #4FBE80; }

.cleaning i {
  background: url(../images/baby-icons/Cleaning.png); }
.cleaning .icon-text, .cleaning .hack-num {
  color: #44BFD7; }

.clothing i {
  background: url(../images/baby-icons/Sleepsuit.png); }
.clothing .icon-text, .clothing .hack-num {
  color: #F8C063; }

.diapers i {
  background: url(../images/baby-icons/Diaper.png); }
.diapers .icon-text, .diapers .hack-num {
  color: #F8C063; }

.feeding i {
  background: url(../images/baby-icons/Cutlery.png); }
.feeding .icon-text, .feeding .hack-num {
  color: #F8C063; }

.the-home i {
  background: url(../images/baby-icons/House.png); }
.the-home .icon-text, .the-home .hack-num {
  color: #caa4cc; }

.mommy-health i {
  background: url(../images/baby-icons/Butterfly.png); }
.mommy-health .icon-text, .mommy-health .hack-num {
  color: #F8C063; }

.nursing i {
  background: url(../images/baby-icons/Nursing.png); }
.nursing .icon-text, .nursing .hack-num {
  color: #FF7892; }

.playing i {
  background: url(../images/baby-icons/Rattle.png); }
.playing .icon-text, .playing .hack-num {
  color: #F8C063; }

.sleeping i {
  background: url(../images/baby-icons/Sleep.png); }
.sleeping .icon-text, .sleeping .hack-num {
  color: #D29CCC; }

.technology i {
  background: url(../images/baby-icons/BabyMonitor.png); }
.technology .icon-text, .technology .hack-num {
  color: #D29CCC; }

.teething i {
  background: url(../images/baby-icons/Teething.png); }
.teething .icon-text, .teething .hack-num {
  color: #FF7892; }

.transportation i {
  background: url(../images/baby-icons/Stroller.png); }
.transportation .icon-text, .transportation .hack-num {
  color: #4FBE80; }

.single .main {
  font-size: 20px;
  padding-bottom: 25px;
  border-bottom: 1px solid #fee6b4; }
.single h3 {
  color: #3185cb;
  border-bottom: 1px solid #fee6b4;
  padding-bottom: 15px;
  margin-bottom: 20px; }
.single .article-header {
  display: none; }
.single h3 + p {
  display: none; }
.single #s-share-buttons {
  float: left; }
.single .mail {
  background: url(/wp-content/plugins/simple-social-share/images/share-email.png);
  width: 65px;
  float: left;
  display: block;
  background-repeat: no-repeat;
  color: rgba(255, 255, 255, 0); }
.single .tweet {
  background: url(../images/tweet.png) 0px -4px;
  width: 65px;
  float: left;
  display: block;
  background-repeat: no-repeat;
  color: rgba(255, 255, 255, 0); }
.single .url span {
  font-size: 10px;
  background: url(../images/url.png) 0px 0px no-repeat;
  color: #3185cb;
  margin-left: 5px;
  float: left;
  height: 24px;
  width: 24px;
  display: block; }

#comments {
  display: none;
  visibility: hidden; }

#above-footer {
  background: #8fc0ea;
  border-bottom: 5px solid #6c9dc7; }

.footer {
  background: #3185cb;
  padding-top: 20px;
  color: rgba(255, 255, 255, 0.5);
  margin: 0; }

/* Smartphones (portrait and landscape) ----------- */
